<md-card class="room">

  <h1 class="headline">{{room.Name}}</h1>

  <div class="wrapper-cards">

    <mqtt-sensor *ngFor="let sensor of room.Sensors" (onLightChange)="addPathToEmitData($event)" [sensor]="sensor"></mqtt-sensor>

  </div>

</md-card>