<md-toolbar [color]="primary">
	<!--<div class="menu-button">
    <md-icon class="md-24">menu</md-icon>
  </div>-->


	<span>MQTT logger</span>

</md-toolbar>


<div class="outdoor-indoor">
	<div class="div-ausen" (click)="showOutdoor(); isUnderscoreLeft = true; reloadTabs()">
		Außen
	</div>
	<div class="div-innen" (click)="showIndoor(); isUnderscoreLeft = false; reloadTabs()">
		Innen
	</div>
	<div style="clear:both;"></div>
	<div [ngClass]="{'right': !isUnderscoreLeft}" class="underscore"></div>
</div>


<md-tab-group *ngIf="showTabs" [selectedIndex]="0">
	<md-tab *ngFor="let level of levelService.getAllLevels()">
		<template md-tab-label>
			<span class="single-tab">{{level.Name}}</span>
		</template>
		<mqtt-level [level]="level"></mqtt-level>
	</md-tab>
</md-tab-group>


<!--
<div class="controls-view">
	<md-card class="room">

		<h1 class="headline">Wohnzimmer</h1>

		<div class="wrapper-cards">
			<md-card class="sensor-card">
				<md-icon [ngClass]="{'lightBulbOn': lightWz}" class="light-icon">lightbulb_outline</md-icon>
				<md-card-actions align="center">
					<button [ngClass]="{'lightOn': lightWz}" (click)="turnLightOn('wohnzimmer')" md-button>ON</button>
					<button [ngClass]="{'lightOff': !lightWz}" (click)="turnLightOff('wohnzimmer')" md-button>OFF</button>
				</md-card-actions>
			</md-card>
			<md-card class="sensor-card">
				<div class="temperature-wrapper">
					<span class="temperature">{{temperatureWz}} °C</span>
				</div>
				<md-card-actions align="center">
					<button (click)="loadTemperature('wz', false)" md-button>REFRESH</button>
				</md-card-actions>
			</md-card>
		</div>

	</md-card>
	<md-card class="room">
		<h1 class="headline">Esszimmer</h1>

		<div class="wrapper-cards">
			<md-card class="sensor-card">
				<md-icon [ngClass]="{'lightBulbOn': lightEz}" class="light-icon">lightbulb_outline</md-icon>
				<md-card-actions align="center">
					<button [ngClass]="{'lightOn': lightEz}" (click)="turnLightOn('esszimmer')" md-button>ON</button>
					<button [ngClass]="{'lightOff': !lightEz}" (click)="turnLightOff('esszimmer')" md-button>OFF</button>
				</md-card-actions>
			</md-card>
			<md-card class="sensor-card">
				<div class="temperature-wrapper">
					<span class="temperature">{{temperatureEz}}°C</span>
				</div>
				<md-card-actions align="center">
					<button (click)="loadTemperature('ez', false)" md-button>REFRESH</button>
				</md-card-actions>
			</md-card>
		</div>
	</md-card>


</div>-->