md-toolbar {
    background-color: #009688;
    color: white;
}

.menu-button {
    cursor: pointer;
    margin-right: 10px;
}


.single-tab {
    font-size: 1.5em;
    display: block;
    /*width: 100%;*/
    border-bottom: 1px solid black !important;
}


.outdoor-indoor {
    position: relative;
}
.div-ausen,.div-innen{
    width: 50%;
    float: left;
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: center;
    background: #009688;
    color: white;
    margin-top: 0px;
    line-height: 1.3em;
    font-family: Century Gothic;
    cursor: pointer;
    font-size: 2em;
}
h1 {
    margin: 0;
}
.underscore {
    position: absolute;
    bottom: 2px;
    height: 2px;
    width: 50%;
    background-color: white;

    transition: transform 300ms ease-in-out;
    transform: translate3d(0%, 0, 0);
}
.underscore.right {
    transform: translate3d(100%, 0, 0);
}