md-toolbar {
    background-color: #009688;
    color: white;
}

.menu-button {
    cursor: pointer;
    margin-right: 10px;
}

.controls-view {
    margin: auto;
    margin-top: 50px;
    /*padding: 10px;*/
    width: 284px;
    /*box-shadow: 1px 1px 3px grey;*/
    font-family: Century Gothic;
    
}
.wrapper-cards {
    display: flex;
    flex-flow: row wrap;
    /*width: 100%;*/
}
.room {
    margin-bottom: 30px;
}

h1.headline {
    font-weight: lighter;

}

.light-icon {
    height: 48px;
    width: 48px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 3em;
    display: block;
    color: black;
}
.temperature {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    width: 110px;
    font-size: 2em;
    font-family: Century Gothic;
}
md-card.sensor-card {
    margin-right: 20px;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    /*height: 100px;;*/
}

md-card md-card-actions {
    background-color: white;
}
.switcher {
    margin: auto;
    width: 185px;
}
.light-switch {
    width: 10px;
    /*padding: 0;*/
}

.lightOn {
    background-color: #8BC34A;
}
.lightOff {
    background-color: #F44336;
}
.light-icon {
    color: #F44336;
}
.light-icon.lightBulbOn {
    color: #8BC34A;
}






@media(min-width: 600px) {
    .controls-view {
        width: 584px;
    }
}

@media(min-width: 900px) {
    .controls-view {
        width: 852px;
    }
}
@media(min-width: 1160px) {
    .controls-view {
        width: 1120px;
    }
}