<md-card class="sensor-card" *ngIf="sensor.Unit == 'celsius'">
  <div class="sensor-name-wrapper">
    <p class="sensor-name">{{sensor.Name}}</p>
  </div>
  <h1 class ="sensor-card-value">{{sensor.Value}}°C</h1>
</md-card>

<md-card class="sensor-card" *ngIf="sensor.Unit == 'db'">
  <div class="sensor-name-wrapper">
    <p class="sensor-name">{{sensor.Name}}</p>
  </div>
  <h1 class ="sensor-card-value">{{sensor.Value}} {{sensor.unit}}</h1>
</md-card>

<md-card class="sensor-card" *ngIf="sensor.Unit == '%'">
  <div class="sensor-name-wrapper">
    <p class="sensor-name">{{sensor.Name}}</p>
  </div>
  <h1 class="sensor-card-value">{{sensor.Value}}%</h1>
</md-card>

<md-card class="sensor-card" *ngIf="sensor.Unit != '%' && sensor.Unit != 'db' && sensor.Unit != 'celsius'  ">
  <div class="sensor-name-wrapper">
    <p class="sensor-name">{{sensor.Name}}</p>
  </div>
  <md-icon [ngClass]="{'lightBulbOn': lightWz}" class="light-icon">lightbulb_outline</md-icon>
  <md-card-actions align="center">
    <button [ngClass]="{'lightOn': sensor.value == 1} " (click)="turnLightOn()" [disableRipple]="true" md-button>ON</button>
    <button [ngClass]="{'lightOff': sensor.value == 0}" (click)="turnLightOff()" [disableRipple]="true" md-button>OFF</button>
  </md-card-actions>
</md-card>