/*oli*/

.sensor-name-wrapper{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    
    
}

.sensor-name{
    margin:0;
    text-decoration: underline;
    font-family: Century Gothic;
    color: grey; 
}

.sensor-card-value{
    text-align: center;
    margin-top: 53px;
}




.light-icon {
    height: 48px;
    width: 48px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 3em;
    display: block;
    color: black;
}
.temperature {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    width: 110px;
    font-size: 2em;
    font-family: Century Gothic;
}
md-card.sensor-card {
    margin: 10px;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 150px;
}

md-card md-card-actions {
    background-color: white;
}
.switcher {
    margin: auto;
    width: 185px;
}
.light-switch {
    width: 10px;
    /*padding: 0;*/
}

.lightOn {
    background-color: #8BC34A;
}
.lightOff {
    background-color: #F44336;
}
.light-icon {
    color: #F44336;
}
.light-icon.lightBulbOn {
    color: #8BC34A;
}